/.DS_Store
/app.py
/csse_news.html
/english.sorted
/hello.pl
/perl_assignment.txt
/perlex1.pl
/perlex2.pl
/perlex3.pl
/perlex4.pl
/perlex5.pl
/perlex6.pl
/perlex7.pl
/prob2.pl
/prob3.pl
/prob4.pl
/roster.txt
/roster_raw.txt
/short.words
/subitted projects